 <!-- liste des liens degestion de compte -->
    <ul>
        <li><a href="{{ path('app_user') }}">Mon compte</a></li>
        <div></div>
        <li><a href="{{ path('app_user_profil') }}">Mes données</a></li>
        <div></div>
        <li><a href="{{ path('app_ordered') }}">Mes commandes</a></li>
        {% if app.user|isAdmin %}
        <div></div>
        <li><a href="{{ path('app_admin_user') }}">Gestion du site</a></li>
        {% endif %}
        <div></div>
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
