<footer>
    <div class="container">
        <div class="paiement_delivery">
            <div>
                <p class="lna_footer_safe">Paiement sécurisé</p>
                <div class="payment"><span class="d-none">moyen de paiement</span></div>
            </div>
            <div>
                <p class="lna_footer_delivery">Expédition en 48h</p>
                <div class="chrono"><span class="d-none">livraison chronoposte</span></div>
                <div class="poste"><span class="d-none">livraison la poste</span></div>
            </div>
        </div>
        <div class="row">
            <div class="footer_link d-sm-flex">
                <div class="col-sm-4">
                    <p><b>Nos services</b></p>
                    <hr>
                    <a href="{% if app.user %}{{ path('app_user') }}{% else %}{{ path('app_login') }}{% endif %}">Mon compte</a>
                    <a href="{% if app.user %}{{ path('app_ordered') }}{% else %}{{ path('app_login') }}{% endif %}">Mes commandes</a>
                </div>
                <div class="col-sm-4">
                    <p><b>Vos avantages</b></p>
                    <hr>
                    <a href="{{ path('app_home_paiement') }}">Paiement sécurisé</a>
                </div>
                <div class="col-sm-4">
                    <p><b>Informations</b></p>
                    <hr>
                    <a href="{{ path('app_home_legal_notice') }}">mentions légales</a>
                    <a href="{{ path('app_home_cgv') }}">CGV</a>
                    <a href="{{ path('app_home_data_protection') }}">protection des données</a>
                    <a href="{{ path('app_home_cancellation') }}">Conditions de résiliation</a>
                </div>
            </div>
            <div class="social_link">
                <a href="https://www.instagram.com/" class="social_img in"></a>
                <a href="https://www.linkedin.com/" class="social_img ln"></a>
                <a href="https://www.facebook.com/" class="social_img fb"></a>
            </div>
        </div>
    </div>
    <div class="banner"></div>

</footer>