<header>
    {{ get_cart() }}
    <!-- banniere -->
    <div class="banner d-flex justify-content-center text-light">
        <!-- banniere gauche -->
        <div class="d-flex justify-content-center lna_banner_position">
            <div class="d-none d-sm-inline-block lna_banner_img lna_img_truck"><span class="d-none">livraison</span></div>
            <p>Livraison offerte dès 59€</p>
        </div>
        <!-- banniere centre -->
        <div class="d-flex justify-content-center lna_banner_position">
            <div class="d-none d-sm-inline-block lna_banner_img lna_img_delivery"><span class="d-none">retour gratuit</span></div>
            <p>Retour gratuit sous 30 jours</p>
        </div>
        <!-- banniere droite -->
        <div class="d-flex justify-content-center lna_banner_position">
            <div class="d-none d-sm-inline-block lna_banner_img lna_img_safe"><span class="d-none">paiement sécurisé</span></div>
            <p>paiement sécurisé</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="logo_search_cut col-12">
                <div class="row">
                    <!-- logo -->
                    <a href="{{ path('app_home') }}" class="col-3 col-md-2 lna_logo p-0 ps-2 mb-3 mt-2">
                        <h1 class="d-none">La Nîmes'alerie</h1>
                        <img src="{{ asset('build/images/header/animalerieLogo.png') }}" alt="logo de la nîmes'alerie">
                    </a>
                    <!-- fin logo -->
                    <div class="displaySearchBar col-9 col-md-5 ps-5">
                        {% if app.user %}
                            <p class="personalHello">Bonjour
                                <span>
                                    {{ app.user.username }}
                                </span>
                            </p>
                        {% endif %}
                        <!-- barre de recherche -->
                        <form action="" method="get" class="
                        {% if app.user %}
                            mt-0
                        {% else %}
                            mt-4
                        {% endif %}
                        ">
                            <div class="input-group d-inline-block ">
                                <div class="form-outline">
                                    <input type="search" id="search" class="form-control"
                                        placeholder="Recherche ( nom du produit, marque )" />
                                    <label class="form-label d-none" for="search">barre de recherche</label>
                                </div>
                                <button type="button" class="btn lna_btn_fade d-none d-md-inline-block">
                                    <span class="lna_search_logo"></span></button>
                            </div>
                        </form>
                    </div>
                    <!-- fin barre de recherche -->

                    <!-- icone + menu burger -->
                    <div class="col-7 col-md-4 mt-1">
                        <div class="lna_displayHeaderIcon">
                            <!-- icone account -->
                            <div class="lna_header_icon">
                                <a href="{{ path('app_login') }}" {% if app.user %} class="connected"{% endif %}>
                                <div class="lna_account" data-bs-toggle="modal" data-bs-target="#connectionModal">
                                    <span class="d-none">icone de compte</span>
                                </div>
                                <p class="d-none d-lg-block">
                                    {% if app.user %}
                                    Mon compte
                                    {% else %}
                                    Connectez-vous
                                    {% endif %}
                                </p>

                            {% if app.user %}
                                {# Afficher le boutton de gestion de compte #}
                                    {% include 'front/partial/header/modal/gestionCompte.html.twig' %}
                            {% endif %}
                                </a>
                            </div>

                            <!-- icone panier -->
                                <div class="lna_header_icon shop">
                                    <div class="lna_shop">
                                        <span class="d-none">icone de panier</span>
                                        {% if app.session.get('QTY') %}
                                            <div>
                                                <p>{{ app.session.get('QTY') }}</p>
                                            </div>

                                        {% endif %}
                                    </div>
                                    <p class="d-none d-lg-block">Panier</p>

                                    <!-- modal de panier -->
                                    {% set bag = find_contains() %}
                                    {% set totalPriceCart = 0 %}
                                    <div class="myModal d-none">
                                        <div class="myModalBody">
                                            {% if bag is not empty %}
                                                {% for contain in bag[0].contains %}
                                                    <div class="myModalItem">
                                                        {% if contain.products.thumbnail is not null %} {# todo enlever l'image pardefaut apres les fixtures #}
                                                            <img src="{{ asset(contain.products.thumbnail) }}" alt="image miniature du produit"
                                                        {% else %}
                                                            <img src="{{ asset('build/images/product_item/product_one.png') }}" alt="image miniature du produit"
                                                        {% endif %}
                                                             class="myModalPanierImg">
                                                        <div class="myModalResumeProduct">
                                                            <div class="myModalTopResume">
                                                                <p>{{ contain.products.mark.name }}</p>
                                                                <p>{{ contain.products.title }}</p>
                                                            </div>
                                                            <div class="myModalBottomResume">
                                                                <p class="myModalQuantity"> quantité : {{ contain.quantity }}</p>
                                                                <p class="myModalPriceProduct">{{ (contain.unitPrice + (contain.unitPrice * contain.tva))|round(2, 'floor') * contain.quantity }} €</p>
                                                            </div>
                                                        </div>
                                                        <a href="{{ path('app_delete_contain', {'id': contain.id}) }}" class="myModalDeleteProduct"></a>
                                                    </div>
                                                    {% set totalPriceCart = totalPriceCart + (contain.unitPrice + (contain.unitPrice * contain.tva))|round(2, 'floor') * contain.quantity %}
                                                {% endfor %}
                                                <div class="myModalPrice">
                                                    <div class="myModalDelivery">
                                                        <p>Livraison : </p>
                                                        <p>
                                                            {% if totalPriceCart >= 59 %}
                                                                Offerte
                                                            {% else %}
                                                                4.99 €
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="myModalTotalPrice">
                                                        <p>Montant Total : </p>
                                                        <p>{{ totalPriceCart }} €</p>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="emptyCart">
                                                    <p>Panier vide</p>
                                                </div>
                                            {% endif %}

                                            <a href="{{ path('app_bag') }}" class="lna_btn_main lna_btn_fade_color">Accéder au panier</a>
                                        </div>
                                    </div>
                                </div>



                            <!-- icone commande -->
                            <div class="lna_header_icon">
                                <a href="{% if app.user %}#{% else %}{{ path('app_login') }}{% endif %}">
                                    <div class="lna_commande"><span class="d-none">icone de commande</span></div>
                                    <p class="d-none d-lg-block">Commandes</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="btn lna_btn col-2 offset-2 d-md-none" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="d-none">menu de
                            navigation</span></button>
                    <!-- fin icone + menu burger -->
                </div>
            </div>

            <!-- navbar -->
            <nav class="d-none d-md-block">
                <ul>
                    {% for category in main_categories() %}
                    <li class="opened"><a data-bs-toggle="offcanvas" role="button" href="#" id="buttonToggle{{ category.imageEndUrl|capitalize }}"><img
                                src="{{ asset('build/images/icon/header/' ~ category.imageEndUrl ~ '.svg') }}" alt="icone de {{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- fin navbar -->

        </div>
    </div>

    <!-- offcanva menu mobile -->
    <div class="offcanvas offcanvas-end offcanvasMobileNavBar" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn offcanvasCloseBtn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- offcanva sous categorie -->
        <div class="offcanvas-body">
            <ul id="mainOffcanvas">
                {% for category in main_categories() %}
                    <li class="toClosejsOffcanvas"><a id="toggle{{ category.imageEndUrl|capitalize }}"><img src="{{ asset('build/images/icon/offCanva/' ~ category.imageEndUrl ~ '.png') }}"
                            alt="icone de {{ category.name }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>

            <!-- offcanvas au clique sur chien -->
            {% for category in main_categories() %}
                {% if category.name != 'Espace' %}
                    <div class="offcanvas{{ category.imageEndUrl|capitalize }}">
                        <div class="targetDogDisplay">
                            <ul class="secondCanvas">
                                {% for subCategory in category|sub_categories %}
                                    <li><a href="#">{{ subCategory.name }}</a></li>
                                {% endfor %}
                            </ul>
                            <!-- pointeur du lien cliqué en background -->
                            <div>

                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</header>
 {# import du off canvas de labarre de navigation-------------------------------------------------------------------------------------- #}
{% include 'front/partial/header/offcanvas.html.twig' %}