<section>
    <div class="displayOffcanva d-none d-md-block">
        <!-- dog -->
        {% for category in main_categories() %}
            {% if category.name != 'Espace' %}
                    <div class="{{ category.imageEndUrl }}OffcanvaBg closeOffcanva">
                        <div class="text-start myOffcanva" tabindex="-1" id="offcanvasDesktop{{ category.imageEndUrl|capitalize }}"
                             aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-body desktopOffcanva-body">
                                <div class="leftOffcanva d-none d-lg-block">
                                    <h3 class="offcanvas-title " id="offcanvasExampleLabel">{{ category.name }}</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quod ab totam. Expedita unde
                                        a magnam, sapiente commodi iusto hic modi quidem est fuga repellat voluptate eaque esse
                                        recusandae deleniti!</p>
                                    <img src="{{ asset('build/images/header/' ~ category.imageEndUrl ~ '.png') }}" alt="photo de {{ category.name }}">
                                </div>
                                <div class="rightOffcanva">
                                    <h3 class="offcanvas-title d-block d-lg-none" id="offcanvasExampleLabel">{{ category.name }}</h3>
                                    <ul class="secondCanvas">
                                        <li><b><a href="#">voir tous les produits</a></b></li>
                                        {% for subCategory in category|sub_categories %}
                                            <li><a href="#">{{ subCategory.name }}</a><span></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}

    </div>
</section>