{% extends 'front/base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <section class="container listProduct">
        <div class="row">
            <div class="col-12 col-lg-3 text-start">

                <h2 class="filterTitle">Filtrer les produits</h2>
                {{ form_start(filters) }}
                    <div class="row">
                        <a href="{% if isChild is defined %}{{ path('app_category_child', {'category': parentCategory, 'id': category.id }) }}{% else %}{{ path('app_category_parent', {'id': category.id}) }}{% endif %}" class="col-sm-4 col-lg-12 mb-3 ps-3 pe-3 ps-sm-0 pe-sm-0 text-center unsetFilter">
                            <p class="w-100">Réinitialiser les filtres</p>
                        </a>
                        <div class="col-12"></div>
                        <div class="ps-sm-0 pe-lg-0 col-sm-6 col-lg-12">
                            {{ form_row(filters.title) }}
                        </div>
                        <div class="pe-sm-0 ps-lg-0 col-sm-6 col-lg-12 filterSearch">
                            {{ form_row(filters.priceHt) }}
                        </div>
                        <div class="ps-sm-0 pe-sm-0 col-12 mb-2">
                            {{ form_row(filters.mark) }}
                        </div>
                        <div class="col-sm-3 col-lg-12 mb-3 mb-lg-0 ps-3 pe-3 ps-sm-0 pe-sm-0">
                            <button class="lna_btn_main lna_btn_fade_color w-100" type="submit">Rechercher</button>
                        </div>
                    </div>
                {{ form_end(filters) }}
            </div>
            <div class="col-12 col-lg-9">
                <h2 class="text-start">Article correspondant à : <b>{{ category.name }}</b></h2>
                <div class="d-flex flex-wrap listProductContent">
                    {% for product in products %}
                        {% dump product %}
                        {% include 'front/partial/productCard/productCard.html.twig' with {
                            'product': product[0],
                            'average': product['average'],
                        } %}
                    {% endfor %}
                </div>
                <div class="navigation d-flex justify-content-center my-2">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
