{% extends 'front/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="container bagSeeSection">
        <div class="row">
            {% include 'front/partial/checkout/advancement.html.twig'  with {
                currentOne: true
            }%}
            <div class="col-lg-7 cartItem connection mb-4 mb-lg-0 me-lg-4">
                <h2>inscription</h2>
                {% set bag = find_contains() %}
                {% set totalTTC = 0 %}
                {% for contain in bag[0].contains %}
                    {% set totalTTC = totalTTC + (contain.unitPrice + (contain.unitPrice * contain.tva))|round(2, 'floor') * contain.quantity%}
                {% endfor %}
                <div class="mb-4">
                    {{ form_start(registrationForm) }}
                    <div class="mb-4">
                        {{ form_widget(registrationForm.email) }}
                    </div>

                    <div class="mb-4">
                        {{ form_widget(registrationForm.username) }}
                    </div>

                    <div class="mb-4">
                        {{ form_widget(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                    </div>
                    <div class="mb-4 text-start">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>

                    <button type="submit" class="lna_btn_main lna_btn_fade_color">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </div>

                <p>Si vous avez déjà un compte : <a href="{{ path('app_checkout_login') }}">Connectez-vous</a></p>
            </div>
            {% include 'front/partial/checkout/totalPrice.html.twig'  with {
                button: 'Poursuivre',
                display: 'col-lg-4',
                buttonDisplay: 'd-none'
            }%}
        </div>
    </section>

{% endblock %}
