
<div class="lna_card ">
    <img src="{{ asset('build/images/mark/royal.png') }}" alt="logo de marques">
</div>

<div class="lna_card d-none d-md-block">
    <img src="{{ asset('build/images/mark/aquatlantis.png') }}" alt="logo de marques">
</div>

<div class="lna_card d-none d-lg-block">
    <img src="{{ asset('build/images/mark/bebesaurus.png') }}" alt="logo de marques">
</div>

<div class="lna_card d-none d-xl-block">
    <img src="{{ asset('build/images/mark/japhy.png') }}" alt="logo de marques">
</div>

<div class="lna_card d-none d-xxl-block">
    <img src="{{ asset('build/images/mark/pedigree.png') }}" alt="logo de marques">
</div>

<div class="lna_card ">
    <img src="{{ asset('build/images/mark/proplan.png') }}" alt="logo de marques">
</div>