{% extends 'front/base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="displayProductPages">

        {% include 'front/partial/breadcrump/breadcrump.html.twig' %}
        <div class="container mb-5">
            <div class="productDetailTop row mt-5">
                <div class="imagePart col-md-3">
                    {% if product[0][0].thumbnail is not null %}
                        <img src="{{ asset(product[0][0].thumbnail) }}" alt="image {{ product[0][0].title }}">
                    {% else %}
                        <img src="{{ asset('build/images/product_item/product_five.png') }}" alt="image d'un produit">
                    {% endif %}
                </div>
                <div class="detailPart col-lg-9 col-md-8 ms-md-5 ms-lg-0">
                    <h1>{{ product[0][0].title }}</h1>
                    <div class="d-flex justify-content-center align-items-center lna_comment mb-2">
                        <div class="star">
                            {{ product[0]['average']|star|raw }}
                        </div>
                        <p>{{ product[0][0].comments|length }} avis</p>
                    </div>

                    <div class="detailBottomPart row">
                        <div class="addToCraft ps-0 pe-0 me-lg-3 col-lg-5 col-md-12 d-flex flex-column align-items-start">
                            <ul class="d-flex align-items- p-0 mb-4">
                                <li><a href="#">Évaluer le produit</a></li>
                                <li><a href="#productDescription">Description</a></li>
                            </ul>

                            <label for="quantity">Nombre de produit</label>
                            <div class="quantityProduct d-flex align-items-center justify-content-between mb-3">
                                <select name="qty" id="pet-quantity" class="form-select" data-input-add-product="{{ product[0][0].id }}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>

                                <p class="price">{{ (product[0][0].priceHt + (product[0][0].priceHt * product[0][0].tva))|round(2, 'floor') }} €</p>
                            </div>

                            <button class="lna_btn_main lna_btn_fade_color m-0" data-product-id="{{ product[0][0].id }}" data-page-link="{{ path('app_product', {'id': product[0][0].id}) }}">
                                Ajouter au panier
                            </button>
                        </div>
                        <div class="avantage col-lg-7 col-md-12">
                            <p class="titleAvantage">Nos avantages</p>
                            <ul>
                                <li><img src="{{ asset('build/images/icon/header/expedition.svg') }}">Expédition sous 48h gratuite à partir de 59 €</li>
                                <li><img src="{{ asset('build/images/icon/header/safety_certificate.svg') }}">Paiment sécurisé</li>
                                <li><img src="{{ asset('build/images/icon/header/delivery.svg') }}">Satisfait ou remboursé</li>
                                <li><img src="{{ asset('build/images/icon/reassurant/service_client.svg') }}">Service client 6j/7</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section même catégory -->
        <section class="order">
            <div class="container">
                <h2>Les clients ayant consulté cet article ont également acheté</h2>
                <div class="lna_separation"></div>
                <!-- carousel des produits -->
                <div class="lna_container_flex">
                    <div class="carrouselCard">
                        <div id="ProductSecondCarrousel" class="zero" data-position-carrousel="">
                            {% for product in samecategory %}
                                {% include 'front/partial/productCard/productCard.html.twig' with {
                                    'product': product[0],
                                    'average': product['average'],
                                } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% if samemark is not null %}
        <!-- section même marque -->
        <section class="order">
            <div class="container">
                <h2>Plus de produit de cette marque</h2>
                <div class="lna_separation"></div>
                <!-- carousel des produits -->
                <div class="lna_container_flex">
                    <div class="carrouselCard">
                        <div id="ProductCarrousel" class="zero" data-position-carrousel="">
                            {% for product in samemark %}
                                {% include 'front/partial/productCard/productCard.html.twig' with {
                                    'product': product[0],
                                    'average': product['average'],
                                } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!-- section description du produit -->
        <section id="productDescription" class="container">
            <hr>
            <h2>Détail du produit</h2>
            <div class="descriptionProduct">
                {{ product[0][0].fullDescription|raw }}
            </div>
            <hr>
        </section>

        <!-- section commentaire -->
        <section id="comment" class="container">
            <div class="row justify-content-between">
                <div class="leftCommentPart col-lg-4 mb-4 mb-lg-0">
                    <h3>Commentaires client</h3>
                    <div class="d-flex align-items-center mb-3">
                        <div class="star me-2">
                            {{ product[0]['average']|star|raw }}
                        </div>
                        <p>{{ product[0]['average']|round(1) }} sur 5</p>
                    </div>
                    <div class="progressBarPart mb-4">
                        <div class="progressBarElement">
                            <p class="me-3">5 étoiles</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ notes[5] }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progressBarElement">
                            <p class="me-3">4 étoiles</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ notes[4] }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progressBarElement">
                            <p class="me-3">3 étoiles</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ notes[3] }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progressBarElement">
                            <p class="me-3">2 étoiles</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ notes[2] }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progressBarElement">
                            <p>1 étoile</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ notes[1] }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightCommentPart col-lg-8">
                    {% for comment in comments %}
                        {% include 'front/partial/comment/commentCard.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}
