
<div class="lna_product_item  {# todo display des cards #}">
    <a href="#">
        <div class="lna_card_img">
            <img src="{{ asset('build/images/product_item/product_five.png') }}" alt="image d'un produit">
        </div>
    </a>
    <div class="lna_card_body">
        <h3>le titre du produit</h3> {# todo le titre #}
        <div class="lna_comment"> {# todo service d'affichage des étoile a la place du fichier#}
            <div>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
            </div>
            <p>15 avis</p>{# todo nb avis #}
        </div>
        <p>15€</p>{# todo le prix #}
        <a href="#" class="lna_btn_main lna_btn_product lna_btn_dark">Ajouter</a>
    </div>
</div>











{# todo a supprimer quand boucle faite #}













<div class="lna_product_item  {# todo display des cards #}">
    <a href="#">
        <div class="lna_card_img">
            <img src="{{ asset('build/images/product_item/product_five.png') }}" alt="image d'un produit">
        </div>
    </a>
    <div class="lna_card_body">
        <h3>le titre du produit</h3> {# todo le titre #}
        <div class="lna_comment"> {# todo service d'affichage des étoile a la place du fichier#}
            <div>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
            </div>
            <p>15 avis</p>{# todo nb avis #}
        </div>
        <p>15€</p>{# todo le prix #}
        <a href="#" class="lna_btn_main lna_btn_product lna_btn_dark">Ajouter</a>
    </div>
</div>
<div class="lna_product_item  {# todo display des cards #}">
    <a href="#">
        <div class="lna_card_img">
            <img src="{{ asset('build/images/product_item/product_five.png') }}" alt="image d'un produit">
        </div>
    </a>
    <div class="lna_card_body">
        <h3>le titre du produit</h3> {# todo le titre #}
        <div class="lna_comment"> {# todo service d'affichage des étoile a la place du fichier#}
            <div>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
            </div>
            <p>15 avis</p>{# todo nb avis #}
        </div>
        <p>15€</p>{# todo le prix #}
        <a href="#" class="lna_btn_main lna_btn_product lna_btn_dark">Ajouter</a>
    </div>
</div>
<div class="lna_product_item  {# todo display des cards #}">
    <a href="#">
        <div class="lna_card_img">
            <img src="{{ asset('build/images/product_item/product_five.png') }}" alt="image d'un produit">
        </div>
    </a>
    <div class="lna_card_body">
        <h3>le titre du produit</h3> {# todo le titre #}
        <div class="lna_comment"> {# todo service d'affichage des étoile a la place du fichier#}
            <div>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
            </div>
            <p>15 avis</p>{# todo nb avis #}
        </div>
        <p>15€</p>{# todo le prix #}
        <a href="#" class="lna_btn_main lna_btn_product lna_btn_dark">Ajouter</a>
    </div>
</div>
<div class="lna_product_item  {# todo display des cards #}">
    <a href="#">
        <div class="lna_card_img">
            <img src="{{ asset('build/images/product_item/product_five.png') }}" alt="image d'un produit">
        </div>
    </a>
    <div class="lna_card_body">
        <h3>le titre du produit</h3> {# todo le titre #}
        <div class="lna_comment"> {# todo service d'affichage des étoile a la place du fichier#}
            <div>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
            </div>
            <p>15 avis</p>{# todo nb avis #}
        </div>
        <p>15€</p>{# todo le prix #}
        <a href="#" class="lna_btn_main lna_btn_product lna_btn_dark">Ajouter</a>
    </div>
</div>
<div class="lna_product_item  {# todo display des cards #}">
    <a href="#">
        <div class="lna_card_img">
            <img src="{{ asset('build/images/product_item/product_five.png') }}" alt="image d'un produit">
        </div>
    </a>
    <div class="lna_card_body">
        <h3>le titre du produit</h3> {# todo le titre #}
        <div class="lna_comment"> {# todo service d'affichage des étoile a la place du fichier#}
            <div>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
                <span class="lna_star lna_star_empty"></span>
            </div>
            <p>15 avis</p>{# todo nb avis #}
        </div>
        <p>15€</p>{# todo le prix #}
        <a href="#" class="lna_btn_main lna_btn_product lna_btn_dark">Ajouter</a>
    </div>
</div>