{{ form_start(form) }}
<div class="row text-start">
    <div class="col-lg-6">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.lastName) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.postalCode) }}
    </div>
    <div class="col-lg-8">
        {{ form_row(form.city) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.line1) }}
    </div>
    <div class="col-lg-8">
        {{ form_row(form.line2) }}
    </div>
    {{ form_row(form.line3) }}
    {{ form_row(form.phoneNumber) }}
</div>

<button class="lna_btn_main lna_btn_fade_color mt-2" type="submit">
    Poursuivre
</button>
{{ form_end(form) }}