<div class="{{ display }} cartPriceTotal">
    <h2>Montant total</h2>
    <div>
        <div class="d-flex justify-content-between align-items-center pb-2 mb-2">
            <p>Livraison :</p>
            <p class="cartDelivery">{% if totalTTC >= 59 %}OFFERTE{% else %}4.99 €{% endif %}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center  pb-2 mb-2">
            <p>Montant total :</p>
            <p class="cartTotalPrice">{{ totalTTC }}€</p>
        </div>

        <a href="{% if app.user %}{{ link }}{% else %}{{ path('app_checkout_login') }}{% endif %}"
           class="lna_btn_main lna_btn_fade_color
            {% if buttonDisplay is defined %}{{ buttonDisplay }}{% endif %}
            {% if totalTTC == 0 %}d-none{% endif %}
            {% if isActivePaiement is defined %}btn disabled{% endif %}"
            {% if data is defined %}data-button-order{% endif %}>
            {{ button }}
        </a>

    </div>
</div>