{% extends 'front/base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}

    <section class="container bagSeeSection">
        <div class="row">
            {% include 'front/partial/checkout/advancement.html.twig'  with {
                currentTwo: true,
                stepOne: true
            }%}
            <div class="col-lg-7 me-lg-4 p-0">
                {% set bag = find_contains() %}
                {% set totalTTC = 0 %}
                {% for contain in bag[0].contains %}
                    {% set totalTTC = totalTTC + (contain.unitPrice + (contain.unitPrice * contain.tva))|round(2, 'floor') * contain.quantity%}
                {% endfor %}
                {% if form is defined %}
                    <h2>Entrer votre adresse</h2>
                    {% include 'front/partial/checkout/adressForm.html.twig' %}
                {% else %}
                    <div class="cartItem mb-4">
                        <h2>Mon adresse de livraison</h2>
                        <div class="facturationAdresse">
                            <p>Adresse de livraison</p>
                            <p>{{ adress.firstName }} {{ adress.lastName }}</p>
                            <p>{{ adress.line1 }} {{ adress.line2 }}, {{ adress.postalCode }} {{ adress.city }}</p>
                            <a data-bs-toggle="modal" data-bs-target="#adressModal"><i class="fa-solid fa-pen"></i></a>
                        </div>

                        <div class="modal fade modalAdress" id="adressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title modalTitleAdress" id="exampleModalLabel">Changer d'adresse</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% include 'front/partial/checkout/adressForm.html.twig' with{
                                            form : formEdit
                                        }%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="cartItem mb-4">
                        <h2>Mon adresse de facturation</h2>
                        <div class="facturationAdresse">
                            <p>Adresse de facturation</p>
                            <p>{{ adress.firstName }} {{ adress.lastName }}</p>
                            <p>{{ adress.line1 }} {{ adress.line2 }}, {{ adress.postalCode }} {{ adress.city }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% include 'front/partial/checkout/totalPrice.html.twig'  with {
                button: 'Poursuivre',
                display: 'col-lg-4',
                link: path('app_paiement_bag')
            }%}
        </div>
    </section>

{% endblock %}
