{% extends 'back/base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1>Liste des commandes</h1>

    {{ form_start(filters) }}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    {{
                    knp_pagination_sortable(ordereds, 'Email utilisateur', 'user.email')|raw
                    }}
                    {% if app.request.query.get("sort") == 'user.email' and  app.request.query.get("direction") == 'asc' %}
                        <i class="fas fa-sort-up"></i>
                    {% elseif app.request.query.get("sort") == 'user.email' and  app.request.query.get("direction") == 'desc' %}
                        <i class="fas fa-sort-down"></i>
                    {% endif %}
                    {{ form_widget(filters.email) }}
                </th>
                <th>
                    {{
                    knp_pagination_sortable(ordereds, 'Date d\'achat', 'ordered.creationAt')|raw
                    }}
                    {% if app.request.query.get("sort") == 'ordered.creationAt' and  app.request.query.get("direction") == 'asc' %}
                        <i class="fas fa-sort-up"></i>
                    {% elseif app.request.query.get("sort") == 'ordered.creationAt' and  app.request.query.get("direction") == 'desc' %}
                        <i class="fas fa-sort-down"></i>
                    {% endif %}
                    <span class="empty-filter"></span>
                </th>
                <th>
                    Montant
                    <span class="empty-filter"></span>
                </th>
                <th>
                    {{
                    knp_pagination_sortable(ordereds, 'Moyen de paiement', 'payment.name')|raw
                    }}
                    {% if app.request.query.get("sort") == 'payment.name' and  app.request.query.get("direction") == 'asc' %}
                        <i class="fas fa-sort-up"></i>
                    {% elseif app.request.query.get("sort") == 'payment.name' and  app.request.query.get("direction") == 'desc' %}
                        <i class="fas fa-sort-down"></i>
                    {% endif %}
                    {{ form_widget(filters.payment) }}
                </th>
                <th>
                    {{
                    knp_pagination_sortable(ordereds, 'Status de commande', 'status.advancement')|raw
                    }}
                    {% if app.request.query.get("sort") == 'status.advancement' and  app.request.query.get("direction") == 'asc' %}
                        <i class="fas fa-sort-up"></i>
                    {% elseif app.request.query.get("sort") == 'status.advancement' and  app.request.query.get("direction") == 'desc' %}
                        <i class="fas fa-sort-down"></i>
                    {% endif %}
                    {{ form_widget(filters.status) }}
                </th>
                <th>
                    actions
                    <div>
                        <button type="submit" class="filter-action">
                            <i class="fas fa-filter"></i>
                        </button>
                        <a class="filter-action" href="{{ path('app_admin_ordered') }}">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for ordered in ordereds %}
            <tr>
                <td>{{ ordered[0].bag.user.email }}</td>
                <td>{{ ordered[0].creationAt|date('d/m/Y') }}</td>
                <td>{{ ordered[1] }}€</td>
                <td>{{ ordered[0].payment.name }}</td>
                <td>{{ ordered[0].status.advancement }}</td>
                <td>
                    <a href="{{ path('app_admin_ordered_show', {'id': ordered[0].id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_admin_ordered_pdf', {'id': ordered[0].id}) }}"><i class="fa-solid fa-file-pdf"></i></a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#modal{{ ordered[0].id }}"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>

            {% include 'back/partials/modal.html.twig' with {
                'redirect': 'app_admin_ordered_delete',
                'id': ordered[0].id
            }%}

        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(filters) }}
    <div class="navigation d-flex justify-content-center my-2">
        {{ knp_pagination_render(ordereds) }}
    </div>
{% endblock %}
